<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.minerva.server</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/seanspade/.nvm/versions/node/v22.19.0/bin/node</string>
		<string>--env-file=.env</string>
		<string>packages/server/dist/index.js</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/seanspade/Documents/Source/minerva-money</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>NODE_ENV</key>
		<string>production</string>
		<key>PATH</key>
		<string>/Users/seanspade/.nvm/versions/node/v22.19.0/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>StandardOutPath</key>
	<string>/Users/seanspade/Library/Logs/minerva-server.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/seanspade/Library/Logs/minerva-server-error.log</string>
</dict>
</plist>
